*{
    margin: 0;
    padding: 0;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@font-face {
    font-family: 'UTMAvo';
    src: url('../fonts/UTMAvo.eot');
    src: url('../fonts/UTMAvo.eot') format('embedded-opentype'),
    url('../fonts/UTMAvo.woff2') format('woff2'),
    url('../fonts/UTMAvo.woff') format('woff'),
    url('../fonts/UTMAvo.ttf') format('truetype'),
    url('../fonts/UTMAvo.svg#UTMAvo') format('svg');
}
@font-face {
    font-family: 'UTMAvoBold';
    src: url('../fonts/UTMAvoBold.eot');
    src: url('../fonts/UTMAvoBold.eot') format('embedded-opentype'),
    url('../fonts/UTMAvoBold.woff2') format('woff2'),
    url('../fonts/UTMAvoBold.woff') format('woff'),
    url('../fonts/UTMAvoBold.ttf') format('truetype'),
    url('../fonts/UTMAvoBold.svg#UTMAvoBold') format('svg');
}


body{

    font-family: 'UTMAvo', sans-serif;
}
.clear{
    margin: 0;
    padding: 0;
}
.bv-container{
    max-width: 908px;
    background-color: #EFEFEF;

}
.bv-banner {
    background: url(../images/bg-banviet.jpg) no-repeat;
    height: 124px;

}
a.bv-logo-home{
    margin-top: 15px;
    margin-left: 18px;
    display: block;
}
.bv-header-Surrounded{
    text-align: center;
    margin-left: -13px;
    margin-top: 33px;
}
.bv-content-head{
    font-size: 16px;
    color: #46a703;
    font-weight: bold;
    text-transform: uppercase;
    font-family: tahoma, verdana, arial, sans-serif;
}
.bv-flag{
    margin-top: 7px;
}
ul.bv-flag-top{
    width: 253px;
    list-style: none;
    float: right;
}

.bv-flag-top li a{
    float: left;
    margin: 0 10px 0 0;
    font-size: 11px;
    color: #1f1a16;
}
.bv-flag-top li:last-child a{
    margin-right: 0;
}
.bv-flag-top li a:hover,.bv-flag-top li a.active{
    font-weight: bold;
    text-decoration: none;
}
.ja,.vn,.en{
    width: 25px;
    height: 15px;
    float: left;
    margin-right: 2px;
}
.ja {
    background: url("../images/all-icon.png") -34px -1px no-repeat;
}
.vn {
    background: url("../images/all-icon.png") -34px -17px no-repeat;
}
.en {
    background: url("../images/all-icon.png")-35px -33px no-repeat;
}
.bv-help{
    float: right;
    margin-right: 5px;
}
.bv-top-help{
    color: #ff3108;
    font-size: 9px;
    font-style: oblique;
    font-weight: bold;
    height: 2px;
    text-align: right;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}
.bv-hotline-help{
    color: #1f1a16;
    font-size: 12.98px;
    font-weight: bold;
    text-align: right;
    margin: 0;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}
.bv-search {
    float: right;
    margin-top: 0;
}
.bv-input-s{
    width: 125px;
    height: 20px;
    color: #fbfbfb;
    border: none;
    border-top: 1px solid #757575;
    border-left: 1px solid #757575;
    border-bottom: 1px solid #757575;
}
.bv-input-submit{
    width: 59px;
    height: 20px;
    background-color: #3f9602 ;
    border: none;
    font-size: 10px;
    color: #fefefe;
    float: right;
}
.bv-menu-left-banner{

}
ul.bv-left-mn{
    width: 253px;
    list-style: none;
    float: right;
    margin-top: 5px;
    background-color: #ff3108;
    border-top: 1px solid #757575;
    border-left: 1px solid #757575;
    border-bottom: 1px solid #757575;
}
ul.bv-left-mn li a{
    float: left;
    color: #1f1a16;
    font-weight: bold;
    font-size: 9px;
    margin-right: 10px;
    text-transform: uppercase;
    margin-left: 8px;
    height: 25px;
    line-height: 28px;
}
ul.bv-left-mn li a:last-child{
    margin-right: 0;
}
ul.bv-left-mn li a:hover,ul.bv-left-mn li a.active{
    color: #ffffff;
    text-decoration: none;
}

.bv-home,.bv-maps,.bv-phone{
    width: 16px;
    height: 14px;
    float: left;
    margin-right: 2px;
    margin-top: 6px;

}
.bv-home {
    background: url("../images/all-icon.png")-1px -34px no-repeat;
}
.bv-maps {
    background: url("../images/all-icon.png")-1px -3px no-repeat;
}
.bv-phone {
    background: url("../images/all-icon.png")0px -17px no-repeat;
    margin-top: 4px;
    height: 16px;
}
ul.bv-left-mn li a:hover .bv-home,ul.bv-left-mn li a.active .bv-home{background: url("../images/all-icon.png")-17px -34px no-repeat;}
ul.bv-left-mn li a:hover .bv-maps,ul.bv-left-mn li a.active .bv-maps{background: url("../images/all-icon.png")-17px -3px no-repeat;}
ul.bv-left-mn li a:hover .bv-phone,ul.bv-left-mn li a.active .bv-phone{background: url("../images/all-icon.png")-17px -17px no-repeat;
}


.bv-menu {
    height: 31px;
}

.bv-menu-two{
    background: -webkit-linear-gradient(#48ac03, #398802); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#48ac03, #398802); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#48ac03, #398802); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#48ac03, #398802); /* Standard syntax */

}
.bv-navamenu{
   background: transparent;
    border: none;
    height: 30px;
}
ul.bv-ul-menu-two{
    width: 100%;
    height: 37px;
  /*  border-top: 1px solid #757575;
    border-left: 1px solid #757575;
    border-bottom: 1px solid #757575;*/
    background: url('../images/menu.png') repeat-x;

}
ul.bv-ul-menu-two li{
    width:16.66% ;
    float: left;
    border-right: 1px solid gray !important;
}
ul.bv-ul-menu-two li:last-child{
    border-right: none !important;
}
ul.bv-ul-menu-two a{
    margin:0;
    padding: 0;
    height: 37px;
    line-height: 37px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #203e02 !important;
    font-family: "UTMAvoBold",sans-serif;
}
ul.bv-ul-menu-two li:hover a,ul.bv-ul-menu-two li.active a{
    background-color: transparent !important;
}

.bv-active-carousel li{
    background: -webkit-linear-gradient(#48ac03, #398802); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#48ac03, #398802); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#48ac03, #398802); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#48ac03, #398802); /* Standard syntax */
    border: none;
}
.bv-active-carousel li:hover,.bv-active-carousel li.active{
    background:#e4e4e4 !important; ;
}
.bv-menu-tree-ul{
    list-style: none;
    text-align: center;
    background-color: #fefef1;
    border-bottom: 1px solid #3f9702;
}
.bv-menu-tree-ul li{
    display: inline-block;
    padding: 2px 22px;
}
.bv-menu-tree-ul li a{
    display: block;
    text-align: center;
    font-size: 11px;
    color: #429e03;

}
.bv-menu-tree-ul li a:hover{
   text-decoration: none;
}

#bv-home-once{
    text-align: center;
    margin-bottom: 25px;
}
.bv-block-item {
    position: relative;
    display: inline-block;
    width: 173px;
    background-color: #ffffff;
    padding: 10px;

}
.bv-block-item:nth-child(2){
    margin: 0 20px;
}
.bv-title-item{
    text-transform: uppercase;
    color: #ff3108;
    font-size: 12px;
    font-weight: bold;
}
.bv-content-item{
    font-size: 11px;
    color: #1c1c1c;
    text-align: left;
    height: 61px;
    overflow: hidden;
}

.icon-item,.icon-hidden{
    position: absolute;
    bottom: -14px;
    left: 40%;
    background: url("../images/icon-item.png") no-repeat;
    width: 29px;
    height: 29px;
    cursor: pointer;
}

#bv-banner-center{
    background: url("../images/banner-cennter.jpg") no-repeat;
    min-height: 60px;
}
.bv-number-large{
    color: #ffffff;
    font-size: 55px;
    margin-left: 100px;
    height: 60px;
    line-height: 60px;
    float: left;
    cursor: pointer;

}
.bv-content-medium{
    font-size: 19px;
    color: #ffffff;
    line-height: 26px;
    margin-top: 5px;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}
.bv-icon-right-next{
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 75px;
    background: url("../images/icon-next.png") no-repeat;
    margin-top: 15px;
    cursor: pointer;
}
#bv-home-two{
    background-color: #fdfdfd;
}

.bv-item-block-top:nth-child(1){
    margin-top: 50px;
    background-color: #fdfdfd;
}

.bv-item-block-top{
    margin-top: 35px;
}
.bv-title-block-tow{
   color: #1e1e1e;
    font-size:14px ;
    text-transform: uppercase;
    font-weight: bold;
}
.bv-title-block-title-two-two{
    margin-top: 30px;
    color: #757575;
    font-size: 13px;
}
.bv-blue{
    color: #07855d;
}
.bv-orange{
    color: #ff6b0b;
}
.bv-block-item-all{
    margin-top: 35px;
}
.bv-title-tow-content{
    font-size: 14px;
}
.bv-content-main{
    margin-top: 20px;
    font-size: 10px;
    color: #757575;
    margin-bottom: 10px;
}
.bv-read-more{
    color: #ffffff;
    font-size: 13px;
    margin-top: 30px;
    background-color: #44a203;
    border-radius: 10px;
    padding: 5px 11px;
}
a.bv-read-more:hover,a.bv-read-more:active,a.bv-read-more:visited{
    text-decoration: none;
    color:#ffffff;
}
.bv-padth{
    margin-top: 30px;
    height: 2px;
    background-color: #dddddd;
}
.bv-item-title{
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    background-color: #409A02;
    display: block;
    border: 1px solid #1c4500;
    padding: 5px 0;
}
.bv-sibar-item{
    margin-top: 5px;
}
.bv-nav-bottom {
    margin-top: 20px;
}
ul.bv-bottom-menu{
    list-style-image: url("../images/icon-next-ul.png") ;
    padding-left: 75px;
}
ul.bv-bottom-menu li {
    float: left;
}
ul.bv-bottom-menu li:last-child{
    float: right;
}
.bv-hidden{
    display: none;
}
ul.bv-bottom-menu li a{
    color: #0f100b;
    margin-right: 20px;
    font-size: 10px;
}
.bv-logo-two{
    display: block;
    margin-top: 7px;
}
.bv-mr-footer{
    margin-top: 17px;
}
.bv-footer-content-one{
    color: #429d03;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}
.bv-footer-content-two{
    font-size: 9px;
    color: #429d03;
}
.bv-icon-footer{
    text-align: center;
}
.bv-line {
    float: left;
    height: 3px;
    width: 65%;
    background-color: #44a203;
    line-height: 10px;
}
.bv-line-content {
    margin: -6px 4px 0 4px;
    color: #1f1a16;
    font-size: 10px;
    float: left;
}
.bv-enline{
    float: left;
    height: 3px;
    width: 14%;
    background-color: #44a203;
}
.npdl{
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.bv-block{
    display: none !important;
    background-color: #ddd;
    padding:20px;
    text-align: left;
}
.actives{
    display: block !important;
}
.bv-block img{
    width: 30%;
}
.xam{
    background-color: #ddd;
}

.img-center{
    width: 100%;
    text-align: center;
}




